* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #003f5c;
    color: white;
    padding: 20px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
}

.sidebar ul li a:hover {
    color: #ade8f4;
}

.dashboard-container {
    margin-top: 20px ;
    margin-left: 300px;
    width: calc(100% - 350px);
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    background-color: #0077b6;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr:hover {
	background-color:#d0f4f3;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.feedback-table h2 {
	margin-top:20px;
}

th {
    background-color: #ade8f4;
}

a {
    text-decoration: none;
    color: #0066cc;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    text-decoration: underline;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: static;
    }

    .dashboard-container {
        margin-left: 0;
        width: 100%;
    }
}
